---
layout: default
---
{% capture overlay_img_path %}{{ page.header.overlay_image | relative_url }}{% endcapture %}

<div id="main" role="main">
  <div class="course">
    <div class="cover"
      style="{% if overlay_img_path %}background-image: url('{{ overlay_img_path }}');{% endif %}"
    >
      <div class="title">
        {{ page.title }}
      </div>
      <div class="undertitle">
        <div class="tagline">
          {{ page.tagline }}
        </div>
        <div class="subtitle">
          {{ page.subtitle }}
        </div>
        <div class="image">
          <img src='{{ page.cover.image }}' />
        </div>
      </div>
    </div>
    <div class="page">
      <div class="title">
        À quem se destina
      </div>
      <div class="title-sep"></div>
      <div class="content">
        <p>Interessados em iniciar a carreira de programador;</p>
        <p>Estudantes com interesse em ingressar na faculdade de ciências da computação, engenharias ou áreas relacionadas;</p>
        <p>Curiosos em entender como funciona a lógica por trás dos programas que utilizamos no dia à dia;</p>
        <p>Interessados em aprender através de exemplos reais do cotidiano de um programador;</p>
        <p>Pessoas motivadas a se manterem relevantes e competitivas no mercado de trabalho.</p>
      </div>
      <div class="content-sep"></div>
      <div class="obs">
        <p>
Saber lógica da programação é essencial para compreender os fundamentos  do funcionamento dos sistemas que todos utilizam em seu trabalho além de permitir a automação de tarefas rotineiras, aumentando produtividade e eficiência nos processos.
        </p>
      </div>
      <div class="content-sep"></div>
    </div>
    <div class="page">
      <div class="title">
        Sobre o Curso
      </div>
      <div class="title-sep"></div>
      <div class="content">
        <p>Estudaremos algoritmos na prática, solucionando problemas do dia à dia de um programador, assim, aprendendo os conceitos básicos de algoritmo;</p>
        <p>Criaremos um grupo de estudos no whatsapp para que todos possam progredir juntos;</p>
        <p>As aulas serão transmitidas ao vivo pelo zoom e ficarão gravadas na plataforma  para que você possa assisti-las durante seis meses;</p>
        <p>Você poderá praticar os execícios utilizando o seu smartphone mas indicamos o uso do computador.</p>
      </div>
      <div class="content-sep"></div>
      <div class="obs">
        <p>O curso é 100% online, portanto, pode ser assistido de qualquer parte do mundo, à qualquer hora. Para conferir as aulas e interagir é necessário apenas um computador ou smartphone com acesso à internet.</p>
      </div>
      <div class="content-sep"></div>
    </div>
    <div class="page">
      <div class="title">
        Cronograma
      </div>
      <div class="title-sep"></div>
      <div class="content schedule">
        <p>Aula 1 - Introdução a algoritmos</p>
        <p>Aula 2 - Estruturas de controle</p>
        <p>Aula 3 - Funções</p>
        <p>Aula 4 - Estruturas de dados básicas</p>
        <p>Aula 5 - Próximos passos</p>
        <p>Aula Bônus - Tira dúvidas</p>
      </div>
      <div class="content-sep"></div>
      <div class="obs">
        <p>O curso é 100% online, portanto, pode ser assistido de qualquer parte do mundo, à qualquer hora. Para conferir as aulas e interagir é necessário apenas um computador ou smartphone com acesso à internet.</p>
      </div>
      <div class="content-sep"></div>
    </div>

  </div>
</div>
