---
layout: default
---
{% capture overlay_img_path %}{{ page.header.overlay_image | relative_url }}{% endcapture %}

<div id="main" role="main">
  <div id="fullpage">
  <div class="course">
    <section>
    <div class="cover"
    >
      <div class="title">
        {{ page.title }}
      </div>
      <div class="undertitle">
        <div class="tagline">
          {{ page.tagline }}
        </div>
        <div class="subtitle">
          {{ page.subtitle }}
        </div>
      </div>
      <!-- <img src='{{ page.cover.image }}' /> -->
    </div>
    </section>
    <section>
    <div class="pagina">
      <div class="title">
        À quem se destina
      </div>
      <hr class="title-sep">
      <div class="content">
        <p>• Interessados em iniciar a carreira de programador;</p>
        <p>• Estudantes com interesse em ingressar na faculdade de ciências da computação, engenharias ou áreas relacionadas;</p>
        <p>• Curiosos em entender como funciona a lógica por trás dos programas que utilizamos no dia à dia;</p>
        <p>• Interessados em aprender através de exemplos reais do cotidiano de um programador;</p>
        <p>• Pessoas motivadas a se manterem relevantes e competitivas no mercado de trabalho.</p>
      </div>
    </div>
    </section>
    <section>
    <div class="pagina">
      <hr class="content-sep">
      <div class="obs">
        <p>
Saber lógica da programação é essencial para compreender os fundamentos  do funcionamento dos sistemas que todos utilizam em seu trabalho além de permitir a automação de tarefas rotineiras, aumentando produtividade e eficiência nos processos.
        </p>
      </div>
      <hr class="content-sep">
    </div>
    </section>
    <section>
    <div class="pagina">
      <div class="title">
        Sobre o Curso
      </div>
      <hr class="title-sep">
      <div class="content">
        <p>Estudaremos algoritmos na prática, solucionando problemas do dia à dia de um programador, assim, aprendendo os conceitos básicos de algoritmo;</p>
        <p>Criaremos um grupo de estudos no whatsapp para que todos possam progredir juntos;</p>
        <p>As aulas serão transmitidas ao vivo pelo zoom e ficarão gravadas na plataforma  para que você possa assisti-las durante seis meses;</p>
        <p>Você poderá praticar os execícios utilizando o seu smartphone mas indicamos o uso do computador.</p>
      </div>
    </div>
    </section>
    <section>
    <div class="pagina">
      <hr class="content-sep">
      <div class="obs">
        <p>O curso é 100% online, portanto, pode ser assistido de qualquer parte do mundo, à qualquer hora. Para conferir as aulas e interagir é necessário apenas um computador ou smartphone com acesso à internet.</p>
      </div>
      <hr class="content-sep">
    </div>
    </section>
    <section>
    <div class="pagina">
      <div class="title">
        Cronograma
      </div>
      <hr class="title-sep">
      <div class="content schedule">
        <p>Aula 1 - Introdução a algoritmos</p>
        <p>Aula 2 - Estruturas de controle</p>
        <p>Aula 3 - Funções</p>
        <p>Aula 4 - Estruturas de dados básicas</p>
        <p>Aula 5 - Próximos passos</p>
        <p>Aula Bônus - Tira dúvidas</p>
      </div>
      <div class="obs">
        <div class="horario">HORÁRIO</div>
        <div class="subtitle">Segunda à Sexta às 19:00</div>
        <p>Tempo médio de duração de cada aula: 1h</p>
        <p>Aula Bônus - sábado às 9h - tempo livre</p>
        <div class="subtitle">Início em Junho 2023</div>
      </div>
    </div>
    </section>
    <section>
    <div class="pagina">
      <div class="invite">Seja o primeiro a saber quando o curso for lançado</div>
      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup" class="mail">
        <form action="https://gmail.us11.list-manage.com/subscribe/post?u=1353f4f4cb040a8b0f45776cd&amp;id=a7ce8514ec&amp;f_id=00ea98e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <input type="email" value="" placeholder="email" name="EMAIL" class="required email" id="mce-EMAIL" required>
              <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group size1of2">
              <input type="text" name="PHONE" class="email" value="" id="mce-PHONE" placeholder="whatsapp">
              <span id="mce-PHONE-HELPERTEXT" class="helper_text">* Receba uma mensagem quando o curso estiver disponivel</span>
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1353f4f4cb040a8b0f45776cd_a7ce8514ec" tabindex="-1" value=""></div>
            <div class="optionalParent emailbotao">
                <div class="clear foot">
                    <input type="submit" value="Fazer pre-inscricao" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
    </section>

  </div>
  </div>
</div>
