---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="home" role="main">

  <div id="cover">
    <div class="greetings">
      <div class="left">
        <div class="hi">
          <div>
            {{ site.data.ui-text[site.locale].greetings_1 | default: "Oi, eu sou" }}
          </div>
          <div>
            {{ site.data.ui-text[site.locale].greetings_2 | default: "o Arthur" }}<span class="dot"></span>
          </div>

        </div>
        <div class="social">
          <hr>
          <a target="_blank" href="https://www.linkedin.com/in/landim/">LinkedIn</a>
          <a target="_blank" href="https://www.tiktok.com/@eusouarthur.dev">Tiktok</a>
          <a target="_blank" href="https://www.instagram.com/eusouarthur.dev">Instagram</a>
          <a target="_blank" href="https://talent.olby.com/sign-up?referral=arthur-18f225">Olby</a>
          <a target="_blank" href="https://github.com/landim">GitHub</a>
        </div>
      </div>
    </div>
    <div class="photo">
      <img src="/assets/img/photos/arthur_bone.png" />
    </div>
  </div>

  <div id="about">
    <div class="photo">
      <img src="/assets/img/photos/arthur_rock_phone.png" />
    </div>
    <div class="description">
      <div class="about_me">
        <div class="about_me_title">
          SOBRE MIM
        </div>
        <div class="about_me_text">
          <p>Ser programador é muito do que sou, afinal, minha vida e o código estão juntos há 20 anos, mas isso não me resume.</p>
          <p>Sou um cara muito tranquilo na minha vida pessoal mas desde adolescente sempre fui obstinado com trabalho pois sabia onde queria chegar. Sou naturalmente curioso e adaptável, por isso, estou sempre procurando algo novo pra fazer, sejam esportes, viagens, aventuras, uma obra em casa ou aprender uma nova tecnologia.</p>
        </div>
      </div>
      <div class="quote">
        "Um computador mereceria ser chamado de inteligente se pudesse enganar um humano fazendo-o acreditar que era humano."
        <div class="author">
          Alan Turing
        </div>
      </div>
    </div>
  </div>
  <div id="career">
    <div class="tree wide">
      <div class="line">
        <div class="career_about_title">SOBRE MINHA CARREIRA</div>
        <div></div>
      </div>
      <div class="line">
        <div></div>

        <div class="exp" style="margin-left: -2.5px">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #000000; height: 49%">
                <div class="year" style="margin: 0 5px">
                  22<span style="font-size: 0.8em">-ATUAL</span>
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #ed7f39; height: 51%">
                <hr style="border-color: #ed7f39; margin-left: -6px">
                <span class="dot" style="margin-left: -9px"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/pythonic.png" />
          </div>
          <div class="exp-text">
            Hoje na Pythonic.Ai, como engenheiro de software sênior, eu projeto e desenvolvo soluções em alta escalabilidade para disponibilizar na nuvem modelos de inteligência artificial especializados em cartórios imobiliários.
          </div>
        </div>
      </div>

      <div class="line" style="margin-top: -1em;">
        <div class="exp" style="margin-right: -2.5px">
          <div class="exp-text">No início da Pandemia, também ingressei como CTO na Elephant e pude elaborar uma solução para sincronizar os dados dos sistemas de marketing, finanças, vendas e assinatura digital. Para gestão de comunidade, projetei o DOMO (ainda em fase de análise), no qual utilizamos blockchain para rastrear as ações, e suas repercussões, dos integrantes da comunidade para aumentar o engajamento destes.</div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ecwo.png" />
          </div>
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-right: solid 6px #ed7f39; height: 49%">
                <div class="year" style="margin: 0 5px;">
                  22<span style="font-size: 0.8em">-ATUAL</span>
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-right: solid 6px #a8b55a; height: 51%">
                <span class="dot" style="margin-right: -9px; z-index: 99; background-color: #a8b55a"></span>
                <hr style="border-color: #a8b55a; margin-right: -1px; margin-left: 0px">
                <span class="dot-big" style="
                  margin-right: -12px; z-index: 99; background-color: #a8b55a;
                  margin-top: -8px;
                "></span>
              </div>
            </div>
          </div>
        </div>

        <div></div>
      </div>

      <div class="line" style="margin-top: -2em;">
        <div></div>

        <div class="exp" style="margin-left: -2.5px">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #a8b55a; height: 49%">
                <div class="year" style="margin: 0 5px">
                  20-22
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #976329; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #976329;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #976329; margin-left: -6px">
                <span class="dot" style="margin-left: -9px; background-color: #976329"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/finetune.png" />
          </div>
          <div class="exp-text">Comecei na Finetune em meio à pandemia da covid-19 e lá desenvolvemos soluções de educação remota para a Collegeboard (a empresa que aplica o SAT, processo similar ao nosso vestibular, nos EUA). Lá fui membro do conselho de arquitetura e pude projetar uma solução de alta escalabilidade possibilitando mineração de dados de provas de mais de 3 milhões de estudantes.</div>
        </div>
      </div>
      <div class="line" style="margin-top: -1em;">
        <div class="exp" style="margin-right: -2.5px">
          <div class="exp-text">Uma das empresas que mantém o código fonte do Apache Cassandra (banco de dados open source não relacional utilizado por Spotify, Netflix, Itau, etc). Foram 2 anos trabalhando no desenvolvimento e automação de testes dos drivers e 2 anos desenvolvendo projetos internos, no quais mentorei a adoção da metodologia scrum e trabalhei como full stack utilizando react e python.</div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ds.png" />
          </div>
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-right: solid 6px #976329; height: 49%">
                <div class="year" style="margin: 0 5px;">
                  15-19
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-right: solid 6px #a8a9ab; height: 51%">
                <span class="dot" style="margin-right: -9px; z-index: 99; background-color: #a8a9ab"></span>
                <hr style="border-color: #a8a9ab; margin-right: -1px; margin-left: 0px">
                <span class="dot-big" style="
                  margin-right: -12px; z-index: 99; background-color: #a8a9ab;
                  margin-top: -8px;
                "></span>
              </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="line" style="margin-top: -2em;">
        <div></div>

        <div class="exp" style="margin-left: -2.5px">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #a8a9ab; height: 49%">
                <div class="year" style="margin: 0 5px">
                  15
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #2571ae; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #2571ae;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #2571ae; margin-left: -6px">
                <span class="dot" style="margin-left: -9px; background-color: #2571ae"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ct.png" />
          </div>
          <div class="exp-text">Na CleverTech pude trabalhar com desenvolvimento de MVPs paa startups e tive meu primeiro contato com Node.JS. Foi um contrato de apenas 3 meses e logo  comecei a procurar novas empresas. Após muitas entrevistas, entrei na Datastax. </div>
        </div>
      </div>
      <div class="line" style="margin-top: -1em;">
        <div class="exp" style="margin-right: -2.5px">
          <div class="exp-text">Lá pude trabalhar com projetos diversos. Desde sistemas embarcados em C-ANSI até soluções em nuvem. Por 1 ano, liderei o time para o projeto em TV digital da AOC e por outros 5, liderei o time para o projeto da HP de integração de impressoras com a nuvem e versionamento de documentos. Foram ótimos 10 anos de experiência mas senti que chegara o meu momento de novos desafios e  foi aí que comecei a trabalhar remoto para empresas estrangeiras.</div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ia.png" />
          </div>
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-right: solid 6px #2571ae; height: 49%">
                <div class="year" style="margin: 0 5px;">
                  07-15
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-right: solid 6px #ed7f39; height: 51%">
                <span class="dot" style="margin-right: -9px; z-index: 99; background-color: #ed7f39"></span>
                <hr style="border-color: #ed7f39; margin-right: -1px; margin-left: 0px">
                <span class="dot-big" style="
                  margin-right: -12px; z-index: 99; background-color: #ed7f39;
                  margin-top: -8px;
                "></span>
              </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="line" style="margin-top: -2em;">
        <div></div>

        <div class="exp" style="margin-left: -2.5px">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #ed7f39; height: 49%">
                <div class="year" style="margin: 0 5px">
                  06-07
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #a8b55a; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #a8b55a;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #a8b55a; margin-left: -6px">
                <span class="dot" style="margin-left: -9px; background-color: #a8b55a"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/sefaz.png" />
          </div>
          <div class="exp-text">Aqui projetei e implementei o SISEG (framework de segurança utilizado pelos serviços em Java desta Secretaria) e eduquei 10 desenvolvedores em Java Development e OOP. Foi quando recebi o convite para voltar ao Atlântico.</div>
        </div>
      </div>
      <div class="line" style="margin-top: -2em;">
        <div class="exp" style="margin-right: -2.5px">
          <div class="exp-text">No Instituto Atlântico tive minha primeira experiência trabalhando integral como desenvolvedor full stack enquanto estudava à noite. Estava no 4o semestre da faculdade e pude aplicar os conhecimentos de técnicas de controles de concorrência recém aprendidos. Após 1 ano de Atlântico, comecei uma nova fase na carreira na SEFAZ - CE.</div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ia.png" />
          </div>
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-right: solid 6px #a8b55a; height: 49%">
                <div class="year" style="margin: 0 5px;">
                  05-06
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-right: solid 6px #976329; height: 51%">
                <span class="dot" style="margin-right: -9px; z-index: 99; background-color: #976329"></span>
                <hr style="border-color: #976329; margin-right: -1px; margin-left: 0px">
                <span class="dot-big" style="
                  margin-right: -12px; z-index: 99; background-color: #976329;
                  margin-top: -8px;
                "></span>
              </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="line" style="margin-top: -2em;">
        <div></div>

        <div class="exp" style="margin-left: -2.5px">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #976329; height: 49%">
                <div class="year" style="margin: 0 5px">
                  03-07
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #000; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #a8a9ab;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #a8a9ab; margin-left: -6px">
                <span class="dot" style="margin-left: -9px; background-color: #a8a9ab"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/unifor.png" />
          </div>
          <div class="exp-text">Meu primeiro contato com programação foi quando entrei no curso de Tecnologia da Informação na UNIFOR, apesar de ter meu pai como referência na área eu nunca tive interesse em saber mais sobre a carreira. Logo no início do curso, eu comecei a estagiar com ele e, um pouco depois, em uma empresa de um professor. Com o tempo, fui adquirindo alguma experiência na área.</div>
        </div>
      </div>
    </div>

  </div>
  <div id="career">
    <div class="tree narrow">
      <div class="line">
        <div class="career_about_title">SOBRE MINHA CARREIRA</div>
      </div>
      <div class="line">
        <div class="exp" style="">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #000000; height: 49%">
                <div class="year" style="margin: 0 5px">
                  22<span style="font-size: 0.8em">-ATUAL</span>
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #ed7f39; height: 51%">
                <hr style="border-color: #ed7f39; margin-left: -6px">
                <span class="dot" style="margin-left: -9px"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/pythonic.png" />
          </div>
          <div class="exp-text">Hoje na Pythonic.Ai, como engenheiro de software sênior, eu projeto e desenvolvo soluções em alta escalabilidade para disponibilizar na nuvem modelos de inteligência artificial especializados em cartórios imobiliários.</div>
        </div>
      </div>

      <div class="line" style="">
        <div class="exp" style="">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #ed7f39; height: 49%">
                <div class="year" style="margin: 0 5px;">
                  22<span style="font-size: 0.8em">-ATUAL</span>
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #a8b55a; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #a8b55a;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #a8b55a; margin-left: -1px; margin-right: 0px">
                <span class="dot" style="margin-left: -9px; z-index: 99; background-color: #a8b55a"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ecwo.png" />
          </div>
          <div class="exp-text">No início da Pandemia, também ingressei como CTO na Elephant e pude elaborar uma solução para sincronizar os dados dos sistemas de marketing, finanças, vendas e assinatura digital. Para gestão de comunidade, projetei o DOMO (ainda em fase de análise), no qual utilizamos blockchain para rastrear as ações, e suas repercussões, dos integrantes da comunidade para aumentar o engajamento destes.</div>
        </div>
      </div>

      <div class="line" style="">
        <div class="exp" style="">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #a8b55a; height: 49%">
                <div class="year" style="margin: 0 5px">
                  20-22
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #976329; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #976329;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #976329; margin-left: -6px">
                <span class="dot" style="margin-left: -9px; background-color: #976329"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/finetune.png" />
          </div>
          <div class="exp-text">Comecei na Finetune em meio à pandemia da covid-19 e lá desenvolvemos soluções de educação remota para a empresa que aplica o SAT, o processo similar ao nosso vestibular, nos EUA. Lá fui membro do conselho de arquitetura e pude projetar uma solução de alta escalabilidade possibilitando mineração de dados de provas de mais de 3 milhões de estudantes.</div>
        </div>
      </div>

      <div class="line" style="">
        <div class="exp" style="">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #976329; height: 49%">
                <div class="year" style="margin: 0 5px;">
                  15-19
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #a8a9ab; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #a8a9ab;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #a8a9ab; margin-left: -1px; margin-right: 0px">
                <span class="dot" style="margin-left: -9px; z-index: 99; background-color: #a8a9ab"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ds.png" />
          </div>
          <div class="exp-text">Datastax é uma das empresas que mantém o código fonte do Apache Cassandra (banco de dados open source não relacional utilizado por Spotify, Netflix, Itau, etc). Foram 2 anos trabalhando no desenvolvimento e automação de testes dos drivers e 2 anos desenvolvendo projetos internos, no quais mentorei a adoção da metodologia scrum e trabalhei como full stack utilizando react e python.</div>
        </div>
      </div>
      <div class="line" style="">
        <div class="exp" style="">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #a8a9ab; height: 49%">
                <div class="year" style="margin: 0 5px">
                  15
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #2571ae; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #2571ae;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #2571ae; margin-left: -6px">
                <span class="dot" style="margin-left: -9px; background-color: #2571ae"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ct.png" />
          </div>
          <div class="exp-text">Na CleverTech pude trabalhar com desenvolvimento de MVPs paa startups e tive meu primeiro contato com Node.JS. Foi um contrato de apenas 3 meses e aqui aprendi a importante lição de como o fit cultural é importante quando escolhemos um empresa. Após esses 3 meses e muitas entrevistas, entrei na Datastax.</div>
        </div>
      </div>
      <div class="line" style="">
        <div class="exp" style="">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #2571ae; height: 49%">
                <div class="year" style="margin: 0 5px;">
                  07-15
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #ed7f39; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #ed7f39;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #ed7f39; margin-left: -1px; margin-right: 0px">
                <span class="dot" style="margin-left: -9px; z-index: 99; background-color: #ed7f39"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ia.png" />
          </div>
          <div class="exp-text">Lá pude trabalhar com projetos diversos. Desde sistemas embarcados em C-ANSI até soluções em nuvem. Por 1 ano, liderei o time para o projeto em TV digital da AOC e por outros 5, liderei o time para o projeto da HP de integração de impressoras com a nuvem e versionamento de documentos. Foram ótimos 10 anos de experiência mas senti que chegara o meu momento de novos desafios e  foi aí que comecei a trabalhar remoto para empresas estrangeiras.</div>
        </div>
        <div></div>
      </div>
      <div class="line" style="">
        <div class="exp" style="">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #ed7f39; height: 49%">
                <div class="year" style="margin: 0 5px">
                  06-07
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #a8b55a; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #a8b55a;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #a8b55a; margin-left: -6px">
                <span class="dot" style="margin-left: -9px; background-color: #a8b55a"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/sefaz.png" />
          </div>
          <div class="exp-text">Aqui projetei e implementei o SISEG (framework de segurança utilizado pelos serviços em Java desta Secretaria) e eduquei 10 desenvolvedores em Java Development e OOP. Foi quando recebi o convite para voltar ao Atlântico.</div>
        </div>
      </div>
      <div class="line" style="">
        <div class="exp" style="">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #a8b55a; height: 49%">
                <div class="year" style="margin: 0 5px;">
                  05-06
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #976329; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #976329;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #976329; margin-left: -1px; margin-right: 0px">
                <span class="dot" style="margin-left: -9px; z-index: 99; background-color: #976329"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/ia.png" />
          </div>
          <div class="exp-text">No Instituto Atlântico tive minha primeira experiência trabalhando integral como desenvolvedor full stack enquanto estudava à noite. Estava no 4o semestre da faculdade e pude aplicar os conhecimentos de técnicas de controles de concorrência recém aprendidos. Após 1 ano de Atlântico, comecei uma nova fase na carreira na SEFAZ - CE.</div>
        </div>
      </div>
      <div class="line" style="">
        <div class="exp" style="">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="align-items: flex-end; border-left: solid 6px #976329; height: 49%">
                <div class="year" style="margin: 0 5px">
                  03-07
                </div>
              </div>
              <div class="vl" style="align-items: flex-start; border-left: solid 6px #000; height: 51%">
                <span class="dot-big" style="
                  margin-left: -12px; z-index: 99; background-color: #a8a9ab;
                  margin-top: -8px;
                "></span>
                <hr style="border-color: #a8a9ab; margin-left: -6px">
                <span class="dot" style="margin-left: -9px; background-color: #a8a9ab"></span>
              </div>
            </div>
          </div>
          <div class="logo" style="margin: 0 5px">
            <img src="/assets/img/logos/unifor.png" />
          </div>
          <div class="exp-text">Meu primeiro contato com programação foi ao ingressar no curso de Tecnologia da Informação na UNIFOR, apesar de ter meu pai como referência na área, até então, eu não tinha tido interesse em saber mais sobre a carreira. Logo no início do curso, eu comecei a estagiar com ele e, um pouco depois, em uma empresa de um professor. Com o tempo, fui adquirindo alguma experiência na área.</div>
        </div>
      </div>
    </div>

  </div>
  <div id="around">
  </div>

</div>
