---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="home" role="main">

  <div id="cover">
    <div class="greetings">
      <div class="left">
        <div class="hi">
          <div>
            {{ site.data.ui-text[site.locale].greetings_1 | default: "Oi, eu sou" }}
          </div>
          <div>
            {{ site.data.ui-text[site.locale].greetings_2 | default: "o Arthur" }}<span class="dot"></span>
          </div>

        </div>
        <div class="social">
          <hr>
          <a href="">LinkedIn</a>
          <a href="">Tiktok</a>
          <a href="">Instagram</a>
          <a href="">Olby</a>
        </div>
      </div>
    </div>
    <div class="photo">
      <img src="/assets/img/photos/arthur_bone.png" />
    </div>
  </div>

  <div id="about">
    <div class="photo">
      <img src="/assets/img/photos/arthur_rock_phone.png" />
    </div>
    <div class="description">
      <div class="about_me">
        <div class="about_me_title">
          SOBRE MIM
        </div>
        <div clas="about_me_text">
          Sou um cara muito tranquilo na minha vida pessoal mas desde adolescente sempre fui obstinado com trabalho pois sabia onde queria chegar. Sou naturalmente curioso e adaptável, por isso, tô sempre procurando algo novo pra fazer, sejam esportes, viagens ou aprender uma nova tecnologia.
        </div>
      </div>
      <div class="quote">
        "Um computador mereceria ser chamado de inteligente se pudesse enganar um humano fazendo-o acreditar que era humano."
        <div class="author">
          Alan Turing
        </div>
      </div>
    </div>
  </div>

  <div id="career">
    <div class="career_about">
      Minha carreira
    </div>
    <div class="tree">
      <div class="line">
        <div></div>
        <div class="exp" style="margin-left: -3px">
          <div class="lines">
            <div class="verticals">
              <div class="vl" style="border-color: black; height: 49%"></div>
              <div class="vl" style="border-color: #ed7f39; height: 51%"></div>
            </div>
            <hr style="border-color: #ed7f39">
          </div>
          <div class="exp-text">
            Hoje na Pythonic.Ai, como engenheiro de software sênior, eu projeto e desenvolvo soluções em alta escalabilidade para disponibilizar na nuvem modelos de inteligência artificial especializados em cartórios imobiliários.
          </div>
        </div>
      </div>
      <div class="line">
        <div class="exp" style="margin-right: -3px">
          <div class="exp-text">No início da Pandemia, também ingressei como CTO na Elephant e pude elaborar uma solução para sincronizar os dados dos sistemas de marketing, finanças, vendas e assinatura digital. Para gestão de comunidade, projetei o DOMO (ainda em fase de análise), no qual utilizamos blockchain para rastrear as ações, e suas repercussões, dos integrantes da comunidade para aumentar o engajamento destes.</div>
          <div class="lines">
            <hr style="border-color: #a8b55a">
            <div class="verticals">
              <div class="vl" style="border-color: #ed7f39; height: 49%"></div>
              <div class="vl" style="border-color: #a8b55a; height: 51%"></div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>

  </div>

</div>
