/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */
$small: 300px;
$medium: 900px;

#main {
  @include clearfix;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  max-width: 100%;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;

  @include breakpoint($x-large) {
    // max-width: $max-width;
  }

  padding: 0em;
  margin: 0em;
  background-color: #323232;
  font-family: 'Alegreya Sans SC', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Alegreya Sans', sans-serif;
}

.initial-content,
.search-content {
  flex: 1 0 auto;
}



.course {
  // @include breakpoint($large) {
  //   float: right;
  //   width: calc(100% - #{$right-sidebar-width-narrow});
  //   padding-right: $right-sidebar-width-narrow;
  // }

  // @include breakpoint($x-large) {
  //   width: calc(100% - #{$right-sidebar-width});
  //   padding-right: $right-sidebar-width;
  // }
  // padding-top: 5em;

  .pagina {
    background-image: url('/assets/img/backs/algorithm_brain.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: inherit;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    .title {
      margin-top: 1.3em;
      font-size: 2.3em;
      font-weight: 700;
      color: #4686d1;
      text-shadow: 2px 2px #2c63a4;
      // text-align: center;
      text-transform: uppercase;
      margin-left: 15%;
    }
    .title-sep {
      border-color: #2eb44f;
      border-style: solid;
      border-width: thin;
      width: 50%;
      // align-self: center;
      margin-left: 15%;
    }
    hr.content-sep {
      border: 1px solid #ed7f39;
      width: 30%;
      // margin-bottom: 1.5em;
      align-self: center;
    }
    .content {
      font-size: 1.1em;
      margin: 1em 2em;
      p {
        text-align: left;
        margin-bottom: 1em;
        background-color: #4c4c47;
        padding: 0.2em 1em;
      }
      margin-bottom: 1em;
    }
    .schedule {
      p {
        text-align: left;
      }
    }
    .obs {
      font-size: 1.0em;
      margin: 0 8em;
      display: flex;
      flex-direction: column;
      text-align: center;
      p {
        margin: 0;
      }

      .horario {
        font-size: 1.2em;
        color: #ed7f39;
        text-shadow: 2px 2px #5f3418;
        text-align: center;
        text-transform: uppercase;
      }
      .subtitle {
        font-size: 1.1em;

      }

    }
    .invite {
      font-size: 1.8em;
      font-weight: 700;
      color: #ad1610;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
      margin-top: 5em;
      padding: 1em 10%;
    }
    .mail {
      form {
        padding: 1em 15%;
      }
      .validate {
        background-color: transparent;
        .email {
          background-color: #4c4c47;
          color: white;
        }
        .helper_text {
          font-size: 0.6em;
        }
        .emailbotao {
          margin-top: 2em;
          display: flex;
          flex-direction: column;
          align-items: center;
          .button {
            background-color: #a79883;
            color: black;
            font-weight: 500;
          }
        }
      }
    }
  }
  .pagina:nth-child(even) {
    background-image: url('/assets/img/backs/algorithm.png');
  }

  .cover {
    background-image: url('/assets/img/backs/algorithm_arthur.png');
    background-position: 0 0;
    background-size: inherit;
    background-repeat: no-repeat;
    width: 100%;
    // padding-top: percentage(663/1600); /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 90vh;
    padding: 10% 1em 10% 50%;

    .title {
      // margin-top: percentage((663/16 - 100) / 100);
      font-size: 2.5em;
      font-weight: 700;
      color: #ad1610;
      text-shadow: 2px 2px #750f0b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
    }
    .undertitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 5em;
      .tagline {
        font-size: 1.1em;
        font-weight: 700;
        color: #4686d1;
      }
      .subtitle {
        font-size: 1.2em;
        font-weight: 700;
        color: #d8d9ca;
        margin: 1em 2.5em;
        text-align: center;
      }
      .image {
        display: flex;
        flex-direction: row;
        justify-content: center;

      }
    }
    img {
      width: 30%;
    }
  }

}

